/* layout.css */

/* Tabs */
.tabs {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.tab {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    background: #f9f9f9;
    margin-right: 5px;
    transition: background-color 0.3s; /* Smooth transition */
}

.tab:hover {
    background: #e9ecef; /* Slightly darker on hover */
}

.tab.active {
    background: white;
    border-top: 2px solid #007bff;
    font-weight: bold; /* Emphasize the active tab */
}

/* Containers */
.recording-container {
    margin-bottom: 20px; /* Space between tabs and recording button */
}

.result-container {
    display: none; /* Hide all by default */
    max-width: 1000px;
    width: 90%;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: white; /* White background for result containers */
}

.result {
    font-size: 1rem;
    color: #555;
}

.loading {
    color: #007bff;
    font-style: italic;
    margin-top: 10px;
}

.icon-div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: flex-end; /* Aligns buttons to the right */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

/* Language Selector */
.language-selector {
    padding: 8px 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #333333; /* Neutral text color */
    background-color: #f8f9fa; /* Light background */
    border: 1px solid #ced4da; /* Subtle border */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.language-selector:hover {
    background-color: #e9ecef;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.language-selector:focus {
    border-color: #0069d9;
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 105, 217, 0.5);
}